name: train

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train_pipeline:
    runs-on: ubuntu-latest
    env:
      HF_MODEL_NAME: hf-internal-testing/tiny-random-distilbert
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install dvc

      - name: Run pipeline
        run: |
          dvc repro -f


